# Tell the configuration system it should stop looking for other configuration
# files (default: false).
config.stopBubbling = true

# When generating equals and hashCode for classes that don't extend Object,
# either automatically take into account superclass implementation (call), or
# don't (skip), or warn and don't (warn). (default = warn).
lombok.equalsAndHashCode.callSuper = CALL

# Use this name for the generated logger fields (default: 'log').
lombok.log.fieldName = LOG

# The type of the exception to throw if a passed-in argument is null
# (Default: NullPointerException).
lombok.nonNull.exceptionType = IllegalArgumentException

# Don't call the getters but use the fields directly in the generated toString
# method (default = false).
lombok.toString.doNotUseGetters = true
